# dependencies
**.pyc
/.pnp
.pnp.js
*__pycache__*
# testing
/coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env.prod
.env.dev

imp.txt
*staticfiles*

# Local deployment files - do not commit
.env.prod.local
docker-compose.prod.local.yml
docker-compose.temp.yml
nginx-local/
nginx-temp/
certbot/

# ssh files
get-ssl-single-domain.sh
setup-ssl.sh
update-deployment.sh
